.Footer {
    background-color: #044B67;
    color: #F0F3BD;
    width: 100vw;
    height: 4vmin;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(2px + 2vmin);
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
    background-image: url('../../Images/BrackItFooter.svg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
    display: flex;
}